@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Varela+Round&display=swap');

* {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
 
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Patrick Hand";
  font-weight: 400;
 background: #3111ad;
 background: linear-gradient(0deg,rgba(49, 17, 173, 1) 0%, rgba(252, 176, 69, 1) 85%);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
 }
    
 .el {
  background-color: #505050;
  color: black;
  display: grid;
  place-content: center;
 }

 .header {
  grid-area: header;
  width: 100vw;
  height: 35px;
  background-color: #50505085;
  display: flex;
  justify-content: center;
 }

 .logo {
  padding: none;
  letter-spacing: 3px;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: bold;
 }

 ul, li {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 10px;
  margin: 0;
  gap: 10px;
 }

 a {
  text-decoration: none;
 } 

 li {
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  border-radius: 20px;
  background-color: #cfcfcf67;
  padding: 8px;
 }

 li .nav-link1:hover {
  background-color: #5c5c5c;
  border-radius: 10px;
  color: white;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  padding: 0 10px 0 10px;
 }

 li .nav-link2:hover {
  background-color: #5c5c5c;
  color: white;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  padding: 0 10px 0 10px;
 }
 li .nav-link3:hover {
  background-color: #5c5c5c;
  color: white;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  padding: 0 10px 0 10px;
 }
 li .nav-link4:hover {
  background-color: #5c5c5c;
  color: white;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  padding: 0 10px 0 10px;
 }
 li .nav-link5:hover {
  background-color: #5c5c5c;
  color: white;
  transform: scale(1.5);
  transition: all 0.5s;
  border-radius: 20px;
  padding: 0 10px 0 10px;
 }


 .nav {
  grid-area: nav;
  justify-items: center;
  place-content: center;
  gap: 1rem;
  background-color: #50505085;
 }

 .container {
   grid-area: main;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 200px 630px repeat(11, 1fr);
   gap: 10px;
   background-color:transparent;
   background: transparent;
   margin: 0 200px 20px 200px;
   justify-content: center;
   align-content: center;
  }
  
  

  .footer {
   grid-area: footer;
   background-color: rgba(49, 17, 173, 1);
   color: black;
   place-content: center;
   justify-items: center;
   text-decoration: none;
  }

 .box {
   background-color: #000;
   color: white;
   font-size: 20px;
   padding: 0.5rem;
  }


  .box:first-child {
    background-color:transparent;
    color: black;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
    align-items: center;
    font-size: 25px;
    gap: 10px;

  }
  .box:nth-child(2) {
    background: #00000033;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    display: grid;
    place-content: center;
    border-radius: 5px;
  }

  .box:nth-child(3) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }

  .box:nth-child(4) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }
  
  .box:nth-child(5) {
    background: #00000033;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    display: grid;
    place-content: center;
    border-radius: 5px;
  }

  .box:nth-child(6) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }

  .box:nth-child(7) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-row-start: 6;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }

  .box:nth-child(8) {
    background: #00000033;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
    display: grid;
    place-content: center;
    border-radius: 5px;
  }

  .box:nth-child(9) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-row-start: 7;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }

  .box:nth-child(10) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 8;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }

  .box:nth-child(11) {
    background: #00000033;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 9;
    display: grid;
    place-content: center;
    border-radius: 5px;
  }

  .box:nth-child(12) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 9;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }

  .box:nth-child(13) {
    background: #00000033;
    grid-column: span 2 / span 2;
    grid-row-start: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }

  .box:nth-child(14) {
    background: #00000033;
    grid-column: span 3 / span 3;
    grid-row-start: 11;
    display: grid;
    place-content: center;
    border-radius: 5px;
  }

  .box:nth-child(15) {
    background: #00000033;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 12;
    display: grid;
    place-content: center;
    justify-items: center;
    border-radius: 5px;
  }


 @media (max-width: 600px) {
  .container {
     grid-template-columns: 1fr;
     grid-template-rows: repeat(15, auto);
   }

 }
